{port_specs, [{"priv/hearlpix_nif.so", ["c_src/*.cpp"]}]}.

{port_env, [
	{"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
	{"CXXFLAGS", "$CXXFLAGS -Wall -O3 -fPIC -I priv/cfitsio/include -I priv/healpix_cxx/include -L priv/cfitsio/lib/ -L priv/healpix_cxx/lib/"},
	{"LDFLAGS", "$LDFLAGS -L priv/cfitsio/lib/ -L priv/healpix_cxx/lib/ -lhealpix_cxx -lcxxsupport -lstdc++"}
]}.

{clean_files, ["c_src/*.o", "priv/*.so"]}.